/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 2560px) {
    .container {
        width: 2000px;
    }
    .feature .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .landing .container .landing-img {
        display: none;
    }
    .landing .container .landing-text {
        width: 100%;
        text-align: center;
    }
    .mega-menu .img {
        display: none;
    }
    .mega-menu ul {
        flex: 1;
    }
    .skills-container img,
    .steps-container .img-steps {
        display: none;
    }
    .skills-container .skills {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header .container > a {
        margin-bottom: 20px;
    }
}

@media (max-width: 578px) {
    .header .container .links .link {
        font-size: 12px;
        padding: 8px;
        margin: 0px;
    }
    .mega-menu {
        flex-direction: column;
    }
    .mega-flex {
        bottom: -64vh;
    }
    .mega-menu ul li {
        padding: 0;
    }
    .mega-menu ul li .other-link {
        font-size: 12px;
    }
}
@media (max-height: 620px) {
    .mega-flex {
        bottom: -84vh;
    }
}
