/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 2560px) {
    .container {
        width: 2000px;
    }
    .feature .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .landing .container .landing-img {
        display: none;
    }
    .landing .container .landing-text {
        width: 100%;
        text-align: center;
    }
    .mega-menu .img {
        display: none;
    }
    .mega-menu ul {
        flex: 1;
    }
    .skills-container img,
    .steps-container .img-steps {
        display: none;
    }
    .skills-container .skills {
        width: 100%;
    }

    .event img {
        display: none;
    }
    .time {
        justify-content: center;
    }
    .videos-container {
        flex-direction: column;
    }
    .list-videos {
        width: 100%;
    }
    .discount {
        flex-direction: column;
    }
    .discount .info-disc,
    .discount .form {
        width: 100%;
    }
    footer .container .social {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    footer .container .social h1 {
        font-size: 1.2rem;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-top: 0;
    }
    .header .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header .container > a {
        margin-bottom: 20px;
    }
    .description {
        font-size: 14px;
        padding: 20px;
    }
    .events .container form {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .events .container form input {
        margin: 15px;
    }
    #email {
        padding: 5px;
    }
    #submit {
        width: fit-content;
        font-size: 14px;
    }
    .events .container form input::placeholder {
        font-size: 14px;
    }
}

@media (max-width: 578px) {
    .header .container .links .link {
        font-size: 12px;
        padding: 8px;
        margin: 0px;
    }
    .mega-menu {
        flex-direction: column;
    }
    .mega-flex {
        bottom: -80vh;
    }
    .mega-menu ul li {
        padding: 0;
    }
    .mega-menu ul li .other-link {
        font-size: 12px;
    }
    .time {
        flex-direction: column;
        align-items: center;
    }
}
