/* --------------------------------------- */
/* --------------------------------------- */
/* *start global rules */
/* --------------------------------------- */
/* --------------------------------------- */
:root {
    --main-color: #2296f2;
    --main-color-alt: #1787e0;
    --text-color: #797979;
    --gray: #e4e4e4;
    --main-transition: 0.3s;
    --padding-top: 50px;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.container .global-header {
    z-index: 100;
    position: relative;
    width: fit-content;
    padding: 8px 15px;
    margin: 0 auto 100px auto;
    border: 2px solid black;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;
    transition-duration: var(--main-transition);
}
.global-header::before,
.global-header::after {
    position: absolute;
    content: "";
    width: 10px;
    z-index: -1;
    height: 10px;
    top: 25px;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.global-header::before {
    left: -40px;
}
.global-header::after {
    right: -40px;
}
.global-header:hover {
    color: white;
}
.global-header:hover::before {
    animation: ball-moving-left 0.45s ease-out normal both;
}
.global-header:hover::after {
    animation: ball-moving-right 0.45s ease-out normal both;
    -webkit-animation: ball-moving-right 0.45s ease-out normal both;
}

/* --------------------------------------- */
/* *start main container */
/* --------------------------------------- */
.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* --------------------------------------- */
/* end main container */
/* --------------------------------------- */

/* --------------------------------------- */
/* --------------------------------------- */
/*  end global rules */
/* --------------------------------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* --------------------------------------- */
/* *start header */
/* --------------------------------------- */
/* --------------------------------------- */
.header {
    position: relative;
    background-color: #fff;
    width: 100%;
    z-index: 10000;
}
.header .container {
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.header .container > a {
    color: var(--main-color);
    line-height: 70px;
    font-weight: bolder;
    font-size: 30px;
}
.header .container > a:hover {
    cursor: pointer;
}
.header .container ul {
    position: relative;
    display: flex;
}
.header .container ul a {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 70px;
    line-height: 70px;
    padding: 0 25px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 400;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header .container ul a:hover {
    color: var(--main-color);
    background-color: rgb(246, 246, 246);
}
.header .container ul a::before {
    position: absolute;
    background-color: var(--main-color);
    content: "";
    width: 0;
    top: 0;
    left: 0;
    height: 6px;
    border-radius: 5px;
    color: red;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.header .container ul a:hover::before {
    width: 100%;
}
/* --------------------------------------- */
/* --------------------------------------- */
/* end header */
/* --------------------------------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* --------------------------------------- */
/* *start landing */
/* --------------------------------------- */
/* --------------------------------------- */

.landing {
    position: relative;
    height: 80vh;
    overflow: hidden;
}
.landing .container {
    padding-top: var(--padding-top);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 5;
}
.landing::before {
    content: "";
    position: absolute;
    transform: translate(-20vw, -10vh) rotate(-5deg);
    z-index: -1;
    width: 130%;
    height: 100%;
    background-color: #ececec;
    -webkit-transform: translate(-20vw, -10vh) rotate(-5deg);
    -moz-transform: translate(-20vw, -10vh) rotate(-5deg);
    -ms-transform: translate(-20vw, -10vh) rotate(-5deg);
    -o-transform: translate(-20vw, -10vh) rotate(-5deg);
}
.landing .container .landing-text {
    width: 40%;
}
.landing .container .landing-text h2 {
    font-size: 40px;
    margin: 0;
}
.landing .container .landing-text p {
    font-size: 20px;
    width: 90%;
    margin-top: 10px;
    line-height: 2rem;
    color: rgb(105, 105, 105);
}

.landing .container .landing-img {
    animation: up-down 3s ease-in-out infinite normal both;
    width: 50%;
    -webkit-animation: up-down 3s ease-in-out infinite normal both;
}
.landing .container .landing-img img {
    width: 100%;
}
.landing a {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing a .icon {
    padding: 30px;
    cursor: pointer;
    animation: up-down 1s ease-in-out infinite normal both;
    font-size: 25px;
    color: var(--main-color);
    -webkit-animation: up-down-icon 1s ease-in-out infinite normal both;
}

/* --------------------------------------- */
/* --------------------------------------- */
/*  start articles part */
/* --------------------------------------- */
/* --------------------------------------- */

#articles-part .container {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 18vh;
}

#articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
}
.article {
    width: calc(100% - 30px);
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #d2d2d291;
    padding: 0;
    width: 100%;
    box-shadow: 0px 1px 11px 0px #f3f3f3;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.article:hover {
    box-shadow: 4px 3px 20px 0px #d2d2d2;

    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.article img {
    width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.article:hover > img {
    transform: rotate(3deg) scale(1.07);
    -webkit-transform: rotate(3deg) scale(1.07);
    -moz-transform: rotate(3deg) scale(1.07);
    -ms-transform: rotate(3deg) scale(1.07);
    -o-transform: rotate(3deg) scale(1.07);
}
.article .text {
    padding: 5px 15px;
}
.article .text h2 {
    font-size: 16px;
}
.article .text p {
    font-size: 16px;
    color: #797979;
}
.article .details {
    position: relative;
    border-top: 1px solid #ececec;
    padding: 0 15px;
    font-weight: bolder;
    color: var(--main-color);
}
.article .details::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 20px;
    top: 50%;
    content: "\f30b";
}
.article:hover > .details:before {
    animation: right-left 0.7s linear infinite normal both;
    -webkit-animation: right-left 0.7s linear infinite normal both;
}

/* --------------------------------------- */
/* --------------------------------------- */
/*  end articles part */
/* --------------------------------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* --------------------------------------- */
/* start gallery */
/* --------------------------------------- */
/* --------------------------------------- */
.gallery {
    position: relative;
    padding-top: var(--padding-top);
    background-color: #e4e4e4;
}
.gallery::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.gallery .container {
    padding-bottom: 15vh;
}

.gallery .global-header {
    text-transform: uppercase;
    margin-bottom: 80px;
}
.box-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}
.box {
    position: relative;
    background-color: #fff;
    padding: 15px;
}
.img-box {
    overflow: hidden;
}
.box .img-box img {
    position: relative;
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.box .img-box {
    position: relative;
    z-index: 1;
}

.img-box:hover > img {
    transform: scale(1.1) rotate(5deg);
    -webkit-transform: scale(1.1) rotate(5deg);
    -moz-transform: scale(1.1) rotate(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
    -o-transform: scale(1.1) rotate(5deg);
}

/* --------------------------------------- */
/* --------------------------------------- */
/*  end gallery */
/* --------------------------------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* --------------------------------------- */
/*  start feature */
/* --------------------------------------- */
/* --------------------------------------- */
.feature {
    padding: var(--padding-top) 0;
    margin-bottom: 50px;
}
.feature .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: center;
    gap: 45px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border: 1px solid #e7e6e6;
}
/* start style of image */
.card .img {
    position: relative;
    overflow: hidden;
}
.card .img:before {
    z-index: 1000;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.card .img::after {
    z-index: 1001;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 0px 0px 180px 500px;
    border-color: transparent transparent #fff transparent;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.card .img img {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/* start style of image */

.feature .text-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .text-container h3 {
    padding-bottom: 20px;
    padding-top: 30px;
    margin: 0;
    position: relative;
    font-size: 35px;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.card .text-container p {
    color: var(--text-color);
    font-size: 22px;
    padding: 10px;
    text-align: center;
    line-height: 2em;
}

.btn {
    position: relative;
    padding: 15px 30px;
    border: 3px solid transparent;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    transition: var(--main-transition);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.btn-1 {
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.btn-2 {
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.btn-3 {
    background: linear-gradient(to right, var(--main-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
/* ------------------------- */
/* ------------------------- */
.card:first-child .img:before {
    background-color: #f43f366c;
}
.card:first-child .text-container h3 {
    border-bottom-color: #f44036;
}
.card .btn-1 {
    border-color: #f44036;
}
/* ------------------------- */
/* ------------------------- */

.card:nth-child(2) .img:before {
    background-color: #009687be;
}
.card:nth-child(2) .text-container h3 {
    border-bottom-color: #009688;
}
.card .btn-2 {
    border-color: #009688;
}
/* ----------------------- */
/* ------------------------- */
.card:last-child .img:before {
    background-color: #2294f2ac;
}
.card:last-child .text-container h3 {
    border-bottom-color: var(--main-color);
}
.card .btn-3 {
    border-color: var(--main-color);
}
/* ------------------------- */
/* ------------------------- */

.card:hover .btn {
    background-position: left bottom;
}
.card:hover .img::after {
    overflow: hidden;
    border-width: 170px 500px 100px 0;
}
/* ----------------------- */

/* --------------------------------------- */
/* --------------------------------------- */
/*  end feature */
/* --------------------------------------- */
/* --------------------------------------- */

/* start testimonials */
.testimonials {
    padding: var(--padding-top) 0;
    background-color: var(--gray);
}
.testimonials .container {
    padding-top: var(--padding-top);
}
.boxes {
    display: grid;
    gap: 30px var(--padding-top);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.boxes .box {
    border-radius: 10px;
    padding: 15px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.avatar {
    position: absolute;
    width: 80px;
    right: -12px;
    top: -40px;
    border: 10px solid var(--gray);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.box h3 {
    margin: 0;
}
.box span {
    display: block;
    margin: 12px 0;
    color: var(--text-color);
}

.rates .on {
    color: #ffc107;
}

/* end testimonials */

/* start team members */
.team-members {
    padding: var(--padding-top) 0;
}
.team-members .global-header {
    margin-bottom: 100px;
}
.team-members .box::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--gray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.team-members .box::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    background-color: #cdcdcd;
    z-index: 1;
    border-radius: 5px;
    transition: all var(--main-transition);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all var(--main-transition);
    -moz-transition: all var(--main-transition);
    -ms-transition: all var(--main-transition);
    -o-transition: all var(--main-transition);
}
.team-members .box:hover::after {
    width: 80%;
}
.team-members .box:hover .data img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.data {
    position: relative;
    display: flex;
    z-index: 2;
}
.data img {
    transition: var(--main-transition);
    display: block;
    flex: 1;
    width: 65%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.data .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data .social a {
    display: block;
    margin: 10px;
    padding: 5px;
    color: var(--text-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.data .social a:hover {
    color: var(--main-color);
}
.box .info {
    position: relative;
    padding-left: 10px;
    margin-left: 20%;
    z-index: 2;
}
.info h4 {
    font-size: 20px;
    color: var(--main-color);
    margin: 12px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.info p {
    margin: 0;
    padding: 10px;
}
.team-members .box:hover .info h4 {
    color: var(--text-color);
}
/* end team members */
